
body {
  font-family: "Poppins", sans-serif;
  background-color: #F8F2DA;
}

div{
  font-size: 30px;
}

.webCam{
  text-align: center;
  padding-top: 100px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #484452;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #666666;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}


.record {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.catInfo{
  justify-content: center;

}

.info-box {
  text-align: center;
  background-color: #f1f1f1;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px; /* ทำให้เกิดกรอบโค้ง */
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media screen and (max-width: 426px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


  #video_feed{
    width: 400px;
  }

  .webCam{
    text-align: center;
    padding-top: 50px;
  }
  .record {
    padding: 20px;
    width: 400px;
    display: flex;

  }
  
  
  .info-box {
    text-align: center;
    flex: 1;
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px; /* ทำให้เกิดกรอบโค้ง */
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}




